<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Cassette Tape</title>

  <link href="/dist/output.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1>The Cassete Tape Event Playlist</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/event">Event</a>
    {{#if logged_in}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Choose an Event to view</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>