<form>
  <div class="form-group">
    <label for="eventName">Event Name</label>
    <input type="text" class="form-control" id="event-input" placeholder="event name">
  </div>
    <div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="text" class="form-control" id="start-date" placeholder="DD/MM/YYYY">
  </div>
    <div class="form-group">
    <label for="endDate">End Date</label>
    <input type="text" class="form-control" id="end-date" placeholder="DD/MM/YYYY">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="event description"></textarea>
  </div>
    <button type="submit" class="btn btn-primary" id="create">Create</button>
</form>
<script src="/js/event.js"></script>