<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
<div class="event-card" style="width: 18rem;">
 
  <img src="/images/event-tape.png" class="card-img-top" alt="cassette">
  <div class="card-body">
    <h5 class="card-title">Event Name</h5>
    <p class="card-text">description of the event</p>
    <ul class="list-group" id="song-list">
  <li class="list-group-item">Cras justo odio<a href="#" class="btn btn-dark btn-small">delete</a></li>

</ul>
    <a href="#" class="submit btn btn-primary">add a song</a>


</div>
</div>
</div>


  <div class="col">
<div class="event-card" style="width: 18rem;">
 
  <img src="/images/event-tape.png" class="card-img-top" alt="cassette">
  <div class="card-body">
    <h5 class="card-title">Event Name</h5>
    <p class="card-text">description of the event</p>
    <ul class="list-group" id="song-list">
  <li class="list-group-item">Cras justo odio<a href="#" class="btn btn-dark btn-small">delete</a></li>

</ul>
    <a href="#" class="submit btn btn-primary">add a song</a>
  </div>
</div>
</div>
  <div class="col">
<div class="event-card" style="width: 18rem;">
 
  <img src="/images/event-tape.png" class="card-img-top" alt="cassette">
  <div class="card-body">
    <h5 class="card-title">Event Name</h5>
    <p class="card-text">description of the event</p>
    <ul class="list-group" id="song-list">
  <li class="list-group-item">Cras justo odio<a href="#" class="btn btn-dark btn-small">delete</a></li>

</ul>
    <a href="#" class="submit btn btn-primary">add a song</a>
  </div>
</div>
</div>
</div>