<h2>Create an Event</h2>
<label for="Event">Event</label>
<input type="text" id="event-input">
<label for="Event">Start Date</label>
<input type="text" id="start-date">
<label for="Event">End Date</label>
<input type="text" id="end-date">
<label for="Event">Description</label>
<textarea name="" id="description" cols="30" rows="10"></textarea>
<button id="create">Create</button>
<script src="/js/event.js"></script>