<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title"></h2>
    <form id="login-form" class="form login-form mt-50">
      <div class="form-group">
        <div class="h-screen">
  <div class="login-container px-6 py-12 h-full">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
        <img src = "/images/cassette_tape.png" alt ="CassetteTape">
        </div>
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-dark" type="submit">login</button>
      </div>
      </div>
  </div>
  </div>
  </div>
    </form>
  </div>

<script src="/js/login.js"></script>
